body{
    margin:0 0 0 0;
    background-color: #303030;
    overflow-y: hidden;
}
body::-webkit-scrollbar {
    display: none;
}
.form-control{
    color: #F7F7F7;
    font-family: Norwester;
}
.form-control:focus{
    background-color: #444444;
    color: #F7F7F7;
    box-shadow: 0 0 1px 3px rgba(220, 53, 69, 0.5);
    
}
input:focus{
    outline: none;
}
td, tr{
  vertical-align: top !important;  
}
.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
.titlebar-button {
    -webkit-app-region: no-drag;
}
.header{
    background-color: #303030;
    height: 25px;
    width: 100%;
}
.header-buttons-box{
    position: absolute;
    top:0px;
    right: 0px;   
}
.header-button-holder{
    float: left;
    width: 35px;
    height: 25px;
    color: aliceblue;
    text-align: center;
    display: flex;
    align-items: center;
    transition:200ms;
}
.header-button-holder:hover{
    background-color: #a0a0a0;
    cursor: pointer;
}
.header-button-holder-close:hover{
    background-color: #D9534F;
    cursor: pointer;
}
.header-button-holder > svg{
    
    margin: 0 auto;display: block;
    fill: #4a4a4a;
    stroke-miterlimit:10;
    transition: 500ms;
}
.header-button-holder:hover > svg{
    margin: 0 auto;display: block;
    fill: #F7F7F7;
    stroke-miterlimit:10;
}

.title{
    background-color: #444444;
    height: 125px;
    width: 100%;
}
.title-text{
    font-family: Norwester;
    font-size:95px;
    color: #D9534F;
}

.body{
    background-color: #303030;
    width: 100%;
    height: calc(100vh - 150px);
}
.body-url-input{
    background-color: #444444;
    padding:10px;
    border:none;
    border-radius: 0px;
    font-size:18px;
    color:#F7F7F7;
    transition: 600ms;
}
.body-url-span{
    font-family: Norwester;
    font-size:25px;
    color: #D9534F;
}
.body-button{
    font-family: Norwester;
    background-color: #444444;
    font-size:25px;
    color: #D9534F;
    border: none;
    padding: 8px 15px 8px 15px;
}
.body-button:focus{
    background-color: #444444;
    font-size:25px;
    color: #D9534F;
    box-shadow: none;
    border: none;
    outline: none !important;
}
.body-button:hover{
    background-color: #D9534F;
    color: #F7F7F7;
    transition: 400ms;
}
.body-button:active{
    background-color: #F7F7F7;
    font-size:25px;
    color: #D9534F;
    box-shadow: none;
    border: none;
    outline: none !important;
}
